<configuration debug="true">

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>info</level>
    </filter>
    <encoder>
      <pattern>%date{ISO8601} - %logger -> %-5level[%thread] %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="akka" level="info"/>
  <logger name="com.packt" level="debug"/>

  <root level="error">
    <appender-ref ref="console"/>
  </root>
  
</configuration>